<% if @user.errors.any? %>
  <% if @user.errors.count == 1 %>
    <%= @user.errors.count %> error prohibited this obj from being saved:
  <% else%>
    <%= @user.errors.count %> errors prohibited this obj from being saved:
  <% end %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <h2>User info</h2>
  <%= form_with model: @user do |f| %>
    <p>Name</p>
    <%= f.text_field :name, autofocus: true %>
    <p>Image</p>
    <%= f.file_field :profile_image, accept: "image/*" %>
    <p>Introduction</p> 
    <%= f.text_area :introduction %>
    <p><%= f.submit 'Update User' %></p>
  <% end %>
</div>