<% if Book.new.errors.any? %>
  <%= Book.new.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <%= Book.new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <h2>User info</h2>
  <%= image_tag current_user.get_profile_image(100, 100) %>
  <table>
    <tr><th>name</th><td><%= current_user.name %></td></tr>
    <tr><th>introduction</th><td><%= current_user.introduction %></td></tr>
  </table>
</div>

<p><%= link_to "プロフィール更新(仮)", edit_user_path(current_user) %></p>

<div>
  <h2>New book</h2>
  <%= form_with model: Book.new do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %>
    <p><%= f.submit 'Create Book' %></p>
  <% end %>
</div>
