<% if book.errors.any? %>
  <% if book.errors.count == 1 %>
    <%= book.errors.count %> error prohibited this obj from being saved:
  <% else%>
    <%= book.errors.count %> errors prohibited this obj from being saved:
  <% end %>
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <h2>User info</h2>
        <%= image_tag current_user.get_profile_image(100, 100) %>
        <table>
          <tr><th>name</th><td><%= current_user.name %></td></tr>
          <tr><th>introduction</th><td><%= current_user.introduction %></td></tr>
        </table>
      </div>
      
      <p><%= link_to edit_user_path(current_user) do %></p>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      
      <div>
        <h2>New book</h2>
        <%= form_with model: book do |f| %>
          <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %>
          <p><%= f.submit 'Create Book' %></p>
        <% end %>
      </div>  
    </div>
  </div>
</div>