<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <script src="https://kit.fontawesome.com/bd92a181e9.js" crossorigin="anonymous"></script>
   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white pt-2 pb-2">
      <%= link_to "Bookers", root_path, class:"text-light text-decoration-none" %>
      <% if user_signed_in? %>
        <ul>
           <%= link_to user_path(current_user), class:"text-light text-decoration-none" do %>
             <i class="fa-solid fa-house"></i>Home
           <% end %>
        </ul>
        <ul>
          <%= link_to users_path, class:"text-light text-decoration-none" do %>
            <i class="fa-solid fa-users"></i>Users
          <% end %>
        </ul>
        <ul>
          <%= link_to books_path, class:"text-light text-decoration-none" do %>
            <i class="fa-solid fa-book-open"></i>Books
          <% end %>
        </ul>
        <ul>
          <%= link_to destroy_user_session_path, method: :delete, class:"text-light text-decoration-none" do %>
            <i class="fa-solid fa-right-from-bracket"></i>Log out
          <% end %>
        </ul>
      <% else %>
        <ul>
          <%= link_to root_path, class:"text-light text-decoration-none" do %>
           <i class="fa-solid fa-house"></i>Home
          <% end %>
        </ul>
        <ul>
          <%= link_to about_path, class:"text-light text-decoration-none" do %>
            <i class="fa-solid fa-link"></i>About
          <% end %>
        </ul>
        <ul>
          <%= link_to new_user_registration_path, class: "text-light text-decoration-none" do %>
            <i class="fa-solid fa-user-plus"></i>Sign up
          <% end %>
        </ul>
        <ul>
          <%= link_to new_user_session_path, class: "text-light text-decoration-none" do %>
            <i class="fa-solid fa-right-to-bracket"></i>Log in
          <% end %>
        </ul>
      <% end %>
    </header>
    <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>      
    </main>
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
